### docker-compose.yml ###
## Access the jupyterlab instance at:
## https://${HOSTNAME}:8081/tanspaces.${COMPOSE_PROJECT_NAME}/lab

version: "3.7"

services:
  jupyter:
    image: tristanbrown/jupyterbase
    networks: 
      - tanspaces
    volumes:
      - ~/.ssh:/mnt/host/.ssh
      - "~/.gitconfig:/etc/gitconfig"
      - ${PROJECT_DIR}/Workspaces/Local/${COMPOSE_PROJECT_NAME}:/home/jovyan/work
      - ${PROJECT_DIR}/Workspaces/Shared/${COMPOSE_PROJECT_NAME}:/home/jovyan/shared
      - ${PROJECT_DIR}/Repos/${COMPOSE_PROJECT_NAME}:/home/jovyan/${COMPOSE_PROJECT_NAME}
    expose:
      - "8888"  ## Notebook/Lab server
      - "5000"  ## Workspace-hosted Flask server
    environment:
      - HOST_SSH_MNT=/mnt/host/.ssh
      - JUPYTERHUB_SERVICE_PREFIX=/tanspaces.${COMPOSE_PROJECT_NAME}/
    command: bash -c "
      . start-ssh.sh && \
      cd ~/${COMPOSE_PROJECT_NAME} && \
      pip install -r requirements.txt && \
      cd ~ && \
      start-notebook.sh \
      --ServerApp.base_url='/tanspaces.${COMPOSE_PROJECT_NAME}/' \
      --ServerApp.password=${ACCESS_TOKEN} \
      --ContentsManager.allow_hidden=True \
      --FileContentsManager.checkpoints_kwargs='root_dir'='/tmp/.ipynb_checkpoints'"
    labels:
      caddy: localhost:8081, ${HOSTNAME}:8081
      caddy.reverse_proxy: /tanspaces.${COMPOSE_PROJECT_NAME}* "{{upstreams 8888}}"
      caddy.tls: "internal"
    restart: unless-stopped

networks:
  tanspaces:
    external: true
